#navbar-search{
    max-width: 400px;
    border-radius: 10px 0 0 10px;
}

#navbar-search:focus{
    box-shadow: none;
}

.searchBtn{
    border-radius: 0 10px 10px 0;
}

.back_button a{
    display: flex;
    background:#DC3545;
    color: white;
    margin: 0 10px;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #DC3545;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.back_button a:hover{
    color:#DC3545;
    background: white;
}

.back_arrow{
    content: "<";
    margin-right: 5px;
}

.back_arrow::before{
    content: "<";
    margin-right: 5px;
}